.container {
  display: flex;
  justify-content: center;
  min-height: 50vh;
}

.form-container {
  padding-top: 35px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.label-style {
  display: block;
  font-weight: bold;
  color: #add8e6;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: black;
  color: #add8e6;
}

button.button-style[type="submit"] {
  background-color: black;
  color: #add8e6;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border: 2px solid #add8e6;
  border-radius:5px;
}

button.button-style[type="submit"]:hover {
  background-color: #0056b3;
}

.field-error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.form-errors {
  margin-top: 10px;
}
