{% extends 'blog/base.html' %} {% load static %}
{% block content%}
<link rel="stylesheet" href="{% static 'blog/css/user_account.css' %}" />
<div class="user-account">
  <div class="about-user">
    <p class="user-item">NICKNAME:{{user.username}}</p>
    <p class="user-item">EMAIL:{{user.email}}</p>
	{% if request.user.is_staff %}
	<p class="user-item"><a class="add_new_post" href="{% url 'add_new_post'%}">NEW POST</a></p>
	{% endif %}
    {% if user.image %}
    <p class="user-item">
	<img src="{{media}}{{user.image}}" width="200px" alt="User Image" />
    </p>
	{% else %}
	  <p class="user-item">No avatar</p>
    {% endif %}
    <div class="load-photo">
      <form method="POST" enctype="multipart/form-data" class="custom-form">
        {% csrf_token %}
        <label for="file-input" class="custom-file-upload">
			<span id="file-label">choose image</span>
        </label>
        <input
          type="file"
          id="file-input"
          name="photo"
          accept="image/*"
          required
        />
        <input type="submit" value="upload" id="upload-button" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
