.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 15px;
  width: 800px;
  color: #add8e6;
}

.post {
  text-align: center;
  margin: 5px 0;
}

a {
  color: #add8e6;
}

a:hover {
  color: rgba(173, 216, 230, 0.8);
}

.pagination {
  text-align: center;
}

.pagination-list {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.pagination-element {
  display: inline;
  margin-right: 2px;
}

.pagination-element a {
  text-decoration: none;
  background-color: black;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #add8e6;
}

.pagination-element a:hover {
  background-color: #333;
  color: #fff;
}

.pagination-element a:visited {
	background-color:#310062;
}
