.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 25px;
  width: 800px;
  color: #add8e6;
}

.post {
  text-align: center;
  margin: 10px 0;
}

a {
  color: #add8e6;
}

a:hover {
  color: rgba(173, 216, 230, 0.8);
}
