body {
  background-color:black;
  color:#ADD8E6;
  font-family:'Courier New', Courier, monospace ;
  font-size: 20px;
}

.nav-item {
  text-decoration: none;
  margin-left: 25px;
  color:#ADD8E6;
}

.nav {
  text-align: center;
}


