.user-account {
  padding-top: 10px;
}
.about-user {
  display: flex;
  width: 500px;
  flex-direction: column;
  margin: 0px auto;
  background-color: black;
  border: 2.5px solid #add8e6;
  align-items: flex-start;
}

.user-item {
  padding-right: 20px;
  text-decoration:none;
  color: #add8e6;
}

.custom-form input[type="submit"] {
  background-color: black;
  color: #add8e6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.custom-form label.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

#file-input {
  display: none;
}

#file-label {
  background-color: black;
  color: #add8e6;
  padding: 0.5px 0.5px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 14px;
}
